    p {
        color: blue; 
    }

    h1 {
        color: white;
    }

    body {
        background: aquamarine;
    }

    .text-blue {
        color: blue;
        font-size: 19px;
    }

    .text-green {
        color: green;
        font-size: 16px;
    }

    #national {
        font-size: 22px;
        color: red;
    }

    .bg-red {
        background-color: red;
    }

    .alert-primary {
        
    }